.feedback_container{
  width: 100%;
  transition: all 1s ease;
  h2{
    border-bottom:  2px solid  $color-light;
    color:$color-light;
    padding: 10px;
    margin:  20px;

  }
.feedback{
  margin: 10% auto;
  border-radius: 10px;
  width: 75%;
  background: #eeffef;
  color: $background-dark;
  padding: 20px 20px 10px 20px;
  opacity: 05;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  .feedback_img{

    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  
  .feedback_info{
    p{
      font-size: 14px;
      font-weight: bold;
      color: #999;
    }
  }
}
}