html{
  scroll-behavior: smooth;
}
body {
    margin: 0;
    background: $background-dark;
    color: white;
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  .light{
    background: white;
    color: black;
    .main{
      color: white;
    }
    .list{
      a{
        border-bottom: 2px solid white;
      }
      
    }
    .sobre__mi, .proyectos{
      h2{
        border-bottom: 2px solid black;
      }
    }
    .proyecto_item-titulo{
      color: white;
    }
    .navbar__list{
      a{
        color: white;
      }
      a:hover{
        border-bottom: 2px solid white;
       }
    }
    
  }
  
