.main{
    overflow: hidden;
    position: relative;
    background-color: rgba(20,80,80,0.5);
    background-blend-mode: soft-light;
    background-image: url('https://i.pinimg.com/originals/f4/bb/3b/f4bb3b22b1ff2dc7ff9f0cf98aaf389b.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
  strong{
      color: lighten($color: $color-light, $amount: 1);
      text-shadow: 1px 1px 1px black;
  }
  .container_main-data{
    .container__img {
        text-align: center;
        img{
            width: 250px;
            height: 300px;
            border-radius: 50%;
            Background: rgba(255,55,55,0.05);
            backdrop-filter: Blur(5px);

        }
    }
  
    .main__content{
      text-align: center;
      .list{
          display: flex;
          padding: 20px;
          justify-content: center;
      }
      li{
          list-style: none;
          padding: 10px;
      }
      a{
          text-decoration: none;
          color: white;
          border-bottom: 2px solid white;
      }
      a:hover{
          color: white;
          font-size: 20px;
      }
    }   
  }
  .main_icon-row{
      position: absolute;
      bottom: 8%;
      left: 0;
      right: 0;
      margin: auto;
      background: $color-light;
      border-radius: 50%;
      animation-name: saltorow;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
  }
}
@keyframes saltorow {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}



@media screen and (min-width: 900px){
   
    .main{
        background-size: 100%;
        .container_main-data{
            height: 100%;
            display: flex;
            align-items: center;
            .main__content{
                width: 50%;
                padding: 50px;
                .list{
                    a{
                      color:  white;
                    }
                }
            }
            .container__img{
                float: right;
                width: 50%;
                img{
                   padding: 40px;
                }
            }
            
        }
    }
    

}