.main{
    margin: 10px;
    overflow: hidden;
    position: relative;
    background-image: url('https://i.pinimg.com/originals/f4/bb/3b/f4bb3b22b1ff2dc7ff9f0cf98aaf389b.jpg');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    
  strong{
      color: lighten($color: $color-light, $amount: 1);
      text-shadow: 1px 1px 1px black;
  }
  .container__img {
      text-align: center;
      img{
          width: 200px;
          height: 200px;
          border-radius: 50%;
      }
  }
}
.main__content{
  text-align: center;
  .list{
      display: flex;
      padding: 20px;
      justify-content: center;
  }
  li{
      list-style: none;
      padding: 10px;
  }
  a{
      text-decoration: none;
      color: white;
      border-bottom: 2px solid white;
  }
  a:hover{
      color: white;
      font-size: 20px;
  }
}


@media screen and (min-width: 900px){
   
    .main{
        background-size: 100%;

    }
    .main__content{
        width: 50%;
        padding: 50px;
        .list{
            a{
              color:  $color-light;
            }
        }
    }
    .container__img{
        float: right;
        width: 50%;
        img{
           padding: 40px;
        }
    }
    

}