.container__navbar{
    padding: 0 20px;
    a{
        color: white;
        text-decoration: wheat;
        
    }
}
.burguer{
    position: fixed;
    top: 20px;
    left: 90%;
    z-index: 1000;
}
.sun{
    position: relative;
    top: -35px;
    left: 80%;
    animation-name: sun;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.container__icon{
    padding: 10px;
    margin: 0;
    strong{
        color: lighten($color: $color-light, $amount: 1);
    }
    
}
.navbar__list{
    position: fixed;
    z-index: 900;
    height: 100vh;
    border-radius: 5px 0 0 5px;
    display: flex;
    padding: 50px  20px 0px 20px;
    background-color:transparentize($color:  $color-light, $amount: .3);
    flex-direction: column;
    align-items: center;
    right: -50%;
    top: 15%;
    transition-property: right;
    transition-duration: 1s;
    a{
        text-align: center;
        width: 100%;
        color:white;
        height: 20px;
        padding: 10px;
    }
    a:hover{
        border-bottom: 2px solid #000022;
        color: white;
    }
    
}
.is-active{
    right: 0%;
}

@keyframes sun {
    0%{
        opacity: .8;
    }
    100%{
        opacity: .1;
    }
}
@media screen and (min-width: 768px){
    .container__navbar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar__list{
        display: flex;
        width:50%;
        flex-direction: row;
        justify-content: center;
        padding:  0 10px 0 10px;
        height: 50px;
        position: static;
        border-radius: 5px;
        a{
            width:30%;
        }
    }
    .sun{
        top: 10px;
        left: 20px;
    }
    .burguer{
        display: none;
    }
}
@media  (min-width: 768px) and (max-width:991px){
    .container__navbar{
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        width: 100%;
        background: $background-dark;
        opacity: 0.97;
        z-index: 1000;
        height: 50px;
        .navbar__list{
            background: none;
        }
    }
}
@media screen and (min-width: 992px){
    .container__navbar{
        display: flex;
        justify-content: space-evenly;
       position: relative;
    }
    .container__icon{
        padding: 0%;
    }
   .sun{
       top: 5px;
       left: 20px;
       
       
   }
   .burguer{
       display: none;
   }
   
   .navbar__list{
       display: flex;
       flex-direction: row;
       justify-content: center;
       padding:  0 10px 0 10px;
       height: 50px;
       position: static;
       border-radius: 5px;
       background: none;
       a{
           color: white;
       }
       a:hover{
        border-bottom: 2px solid white;
       }
       
   }
   .container__navbar{
      
   }
   .fix{
    position: fixed;
    width: 100%;
    background: $background-dark;
    opacity: 0.97;
    z-index: 1000;
    height: 50px;
   }
   .section_active{
       background: rgba(250,250,250,0.5);
       color: purple;
       transition: all .5s linear;
   }
  
}

