.container__navbar{
    padding: 0 20px 0 20px;
    a{
        color: white;
        text-decoration: wheat;

    }
}
.burguer{
   position: relative;
   top: -90px;
   left: 90%;
}
.sun{
    position: relative;
    top: -60px;
    left: 80%;
    animation-name: sun;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.container__icon{
    padding: 10px;
    strong{
        color: lighten($color: $color-light, $amount: 1);
    }
}
.navbar__list{
    padding: 10;
    position: relative;
    top: -40px;
    display: none;
    background-color:transparentize($color:  $color-light, $amount: 0);
    flex-direction: column;
    align-items: center;
    a{
        text-align: center;
        width: 50%;
        color:#000022;
        height: 20px;
        padding: 10px;
    }
    a:hover{
        border-bottom: 2px solid #000022;
        color: white;
    }
    
}
.is-active{
    display: flex;
}

@keyframes sun {
    0%{
        opacity: .8;
    }
    100%{
        opacity: .1;
    }
}
@media screen and (min-width: 768px){
    .container__navbar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar__list{
        display: flex;
        width:50%;
        flex-direction: row;
        justify-content: center;
        padding:  0 10px 0 10px;
        height: 50px;
        position: static;
        border-radius: 5px;
        a{
            width:30%;
        }
    }
    .sun{
        top: 10px;
        left: 20px;
    }
    .burguer{
        display: none;
    }
}
@media screen and (min-width: 992px){
    .container__navbar{
        display: flex;
        justify-content: space-evenly;
    }
    .container__icon{
        padding: 0%;
    }
   .sun{
       top: 5px;
       left: 20px;
       
       
   }
   .burguer{
       display: none;
   }
   
   .navbar__list{
       display: flex;
       flex-direction: row;
       justify-content: center;
       padding:  0 10px 0 10px;
       height: 50px;
       position: static;
       border-radius: 5px;
       
   }
   .container__navbar{
      
   }
  
}

