.container__navbar{
    padding: 0 20px 0 20px;
    a{
        color: white;
        text-decoration: wheat;

    }
}
.burguer{
   position: relative;
   top: -90px;
   left: 90%;
}
.sun{
    position: relative;
    top: -60px;
    left: 80%;
}
.container__icon{
    padding: 10px;
    strong{
        color: lighten($color: $color-light, $amount: 1);
    }
}
.navbar__list{
    padding: 0;
    position: relative;
    top: -40px;
    display: none;
    background-color:transparentize($color:  $color-light, $amount: 0);
    flex-direction: column;
    align-items: center;
    a{
        text-align: center;
        width: 50%;
        color:#000022;
        height: 20px;
        padding: 10px;
    }
    a:hover{
        border-bottom: 2px solid #000022;
    }
    
}
.is-active{
    display: flex;
}