.container__habilidades{
  display: flex;
  justify-content: space-evenly;
  .iconos:hover{
      width: 50px;
      height: 50px;
  }
}

.sobre__mi{
  padding: 20px 20px 10px 20px;
  transition: all 1s ease;
  h2{
      color: $color-light;
      padding: 10px;
      border-bottom: 1px solid white;
  }
  p{
      padding: 10px;
  }
  

}
